ROBOTS_TXT="robots.dev.txt"
DJANGO_DEBUG="True"
# Generate your own secret key and replace here, issue following command to generate:
# python -c 'import secrets; print(secrets.token_urlsafe(50))'
DJANGO_SECRET_KEY="<generate: python -c 'import secrets; print(secrets.token_urlsafe(50))'>"

DB_ENGINE="django.db.backends.mysql"
DB_NAME="qcalc"
DB_USER="admin"
DB_PASSWORD="<replace>"
DB_HOST="localhost"
DB_PORT="3306"

DEFAULT_CACHE_ALIAS="redis"
REDIS_PUBSUB="1"
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
REDIS_DB="0"

FILE_UPLOAD_TEMP_DIR="{PROJ_DIR}/.temp/"
JSON_FILES_DIR="{PROJ_DIR}/qcalc_res/json/"
HELP_FILES_DIR="{PROJ_DIR}/qcalc_res/help/"
DOCS_FILES_DIR="{PROJ_DIR}/qcalc_res/docs/"
AI_MODELS_DIR="{PROJ_DIR}/qcalc_res/model/"

FIXER_API_KEY="c229eb487d5189b10d4d04d7fccb358e"
FIXER_API_URL="http://data.fixer.io/api/latest?access_key="

OPENAI_API_KEY=""

OPENW_API_KEY=""
OPENW_API_URL="http://api.openweathermap.org/data/2.5/weather"

DJANGO_EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
DJANGO_EMAIL_HOST_USER="contact@localhost"
