# Copy this file and rename it to qcalc/setup.env
# this setup.env file will not get replaced by git (check .gitignore)
# This is the very first file that will be read during startup

# Usually scheme is 'http' in development system and 'https' in production system
QCALC_SCHEME='http'

# Replace with your domain name of the production system
# If it is local installation specify ip address and port
QCALC_DOMAIN="127.0.0.1:8000"

# Specify the name of the environment variable file
QCALC_ENV_FILE=".setup/dev_sqlite_file.env"

# Select the settings module corresponding to dev (development) or prd (production) system
DJANGO_SETTINGS_MODULE="config.settings.dev"
#DJANGO_SETTINGS_MODULE="config.settings.prod"
