# Copy this file to create your own server specific environment variables
# Rename the copied file to .env.* (e.g. .env.your_domain)
# This way it won't get replaced by git (please check .gitignore)

# In production server assign DJANGO_DEBUG to "False"
DJANGO_DEBUG="True"

# Generate your own secret key and replace here, issue following command to generate:
# python -c 'import secrets; print(secrets.token_urlsafe(50))'
# Your VPS may not need python to be installed as you are going to run your app from docker
# so you can generate the key from your dev system and replace the value below
DJANGO_SECRET_KEY="<python -c 'import secrets; print(secrets.token_urlsafe(50))'>"

# QCALC_PROFILING options are: none, toolbar, pyinst, cprofile, silk
# you have to install respective profiler before using it
# check also dev.py or req_extra_dev.txt files for exact module to install
QCALC_PROFILING="none"

# Select one database service
DB_ENGINE="django.db.backends.sqlite3"
#DB_ENGINE="django.db.backends.mysql"
#DB_ENGINE="django.db.backends.postgresql_psycopg2"

# Specify database name. For  sqlite it is the name of the sqlite file.
DB_NAME="../.local/qcalc.sqlite3"
#DB_NAME="qcalc"

#DB_USER="qcalc"
#DB_PASSWORD="<replace_password>"
#DB_HOST="localhost" # 127.0.0.1 if not running from docker, docker service name "postgres" or "mysql" if running from docker
## If MySQL
#DB_PORT="3306"
## If PostgreSQL
#DB_PORT="5432"

# Select cacheing service. If memcached or redis make sure the services are running.
DEFAULT_CACHE_ALIAS="file" # not recommended for production
#DEFAULT_CACHE_ALIAS="locmem" # not recommended, you may try for dev/testing on a single process system
#DEFAULT_CACHE_ALIAS="memcached"
#DEFAULT_CACHE_ALIAS="redis" # recommended for production

# Uncomment the followings if you selected memcached
#MEMCACHE_HOST="127.0.0.1" # 127.0.0.1 if not running from docker, docker service name "memcached" if running from docker
#MEMCACHE_PORT="11211"

# Uncomment the followings if you selected redis
#REDIS_PUBSUB="1"
#REDIS_HOST="127.0.0.1" # 127.0.0.1 if not running from docker, docker service name "redis" if running from docker
#REDIS_PORT="6379"
#REDIS_DB="1"

# Change and specify absolute path of the following directories to match your installation
# Or you can use {PROJ_DIR} as a stub for project directory which will be replaced during runtime
# If for example the project is contained in d:/projects/qcalc_dock folder
# {PROJ_DIR} will be replaced with d:/projects/qcalc_dock during startup
FILE_UPLOAD_TEMP_DIR="{PROJ_DIR}/.temp/"
JSON_FILES_DIR="{PROJ_DIR}/qcalc_res/json/"
HELP_FILES_DIR="{PROJ_DIR}/qcalc_res/help/"
DOCS_FILES_DIR="{PROJ_DIR}/qcalc_res/docs/"
AI_MODELS_DIR="{PROJ_DIR}/qcalc_res/model/"

# Although Currency Exchange Rate API is optional you should create an API key and replace it
# If you do not provide API key, latest available currency rate will be used that comes along with the pack
# This will be either "latest.json" or "latest-default.json" which one is available in qcalc_res/json folder
# Use either EXRATE or FIXER api key. Assign other key and URL to empty string ("")
# In case of EXRATE {api_key} in URL will be replaced with the key when used.

EXRATE_API_KEY="replace_with_your_own_fixer_ai_api_key"
EXRATE_API_URL="https://v6.exchangerate-api.com/v6/{api_key}/latest/USD"

FIXER_API_KEY="replace_with_your_own_fixer_ai_api_key"
FIXER_API_URL="http://data.fixer.io/api/latest?access_key="

# Open AI API key below is optional, if you want to use it, please replace the key with your own
#OPENAI_API_KEY="<replace_with_your_own_open_ai_api_key>"

# Open Weather API key below is optional, if you want to use it, please replace the key with your own
OPENW_API_KEY="<replace_with_your_own_open_weather_api_key>"
OPENW_API_URL="http://api.openweathermap.org/data/2.5/weather"

# For dev environment you can simply select console based email backend
DJANGO_EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
DJANGO_EMAIL_HOST_USER="contact@localhost"

# For production environment select your smtp backend for emailing
#DJANGO_EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
#DJANGO_EMAIL_HOST="<replace_with_your_email_host>"
#DJANGO_EMAIL_PORT="587"
#DJANGO_EMAIL_USE_TLS="True"
#DJANGO_EMAIL_HOST_USER="<replace_with_your_host_user>"
#DJANGO_EMAIL_HOST_PASSWORD="<replace_with_host_password>"

# Optional comma separated list of python module with version
# This is sometime useful to adjust installations, esp. if you are running qcalc inside docker
#PIP_INSTALL=""
#PIP_UNINSTALL=""
