DJANGO_DEBUG="False"
# Generate your own secret key and replace here, issue following command to generate:
# python -c 'import secrets; print(secrets.token_urlsafe(50))'
DJANGO_SECRET_KEY="<generate: python -c 'import secrets; print(secrets.token_urlsafe(50))'>"
QCALC_PROFILING="none"

DB_ENGINE="django.db.backends.postgresql_psycopg2"
DB_NAME="qcalc"
DB_USER="qcalc"
DB_PASSWORD="<db_user_password>"
DB_HOST="postgres" # localhost if not running from docker, docker service name if running from docker
DB_PORT="5432"

DEFAULT_CACHE_ALIAS="redis"
REDIS_PUBSUB="1"
REDIS_HOST="redis" # 127.0.0.1 if not running from docker, docker service name if running from docker
REDIS_PORT="6379"
REDIS_DB="1"

FILE_UPLOAD_TEMP_DIR="/usr/src/qcalc_dock/.temp/"
JSON_FILES_DIR="/usr/src/qcalc_dock/qcalc_res/json/"
HELP_FILES_DIR="/usr/src/qcalc_dock/qcalc_res/help/"
DOCS_FILES_DIR="/usr/src/qcalc_dock/qcalc_res/docs/"
AI_MODELS_DIR="/usr/src/qcalc_dock/qcalc_res/model/"

EXRATE_API_KEY="replace_with_your_own_fixer_ai_api_key"
EXRATE_API_URL="https://v6.exchangerate-api.com/v6/{api_key}/latest/USD"

FIXER_API_KEY="replace_with_your_own_fixer_ai_api_key"
FIXER_API_URL="http://data.fixer.io/api/latest?access_key="

OPENAI_API_KEY=""

OPENW_API_KEY=""
OPENW_API_URL="http://api.openweathermap.org/data/2.5/weather"

DJANGO_EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
DJANGO_EMAIL_HOST="<replace_email_host>"
DJANGO_EMAIL_PORT="<replace_email_port>"
DJANGO_EMAIL_USE_TLS="True"
DJANGO_EMAIL_HOST_USER="<replace_email_host_user>"
DJANGO_EMAIL_HOST_PASSWORD="<replace_email_host_password>"

PIP_INSTALL=""
PIP_UNINSTALL=""
