{% load qfilter %}
{% access_by_key favorite_dict node.name as var_info_list %}
{% for input_id in var_info_list %}
  {% if input_id != ',0,' %}
    {% cal_var_url node.name input_id False True False as cal_url %}
    {% concat cal_url "&part=1" as get_url %}
    <a href="{{cal_url}}" hx-get="{{get_url}}"
       hx-target="#content-holder" hx-swap="afterbegin">
    <i class="icon-calculator4"></i>&nbsp;&nbsp;Variant {{input_id}}</a>
    {% include 'favorite_icon.html' with func_id=node.name input_id=input_id fav_state=True %}<br>
  {% endif %}
{% endfor %}
