{% extends base %}
{% load static %}
{% load qfilter %}
{% block card %}{% endblock %}
{% block page_profile %}{% add_head "Explore a Comprehensive Catalog of Physical Quantities | SI Base and Composite Quantities" "Discover and explore a comprehensive catalog of physical quantities, including SI base quantities like length, mass, and time, as well as composite quantities such as speed, acceleration, and electromagnetism. Easily convert between different units of measurement within each category." "/catalog/qty/tree/" %}
{% endblock %}
{% block _cardtitle %}Quantity Catalog{% endblock %}
{% block _content %}
<link href="{% static_ver_theme request 'tree' %}" rel="stylesheet" type="text/css" class="theme-stylesheet">
<script src="{% static_ver 'qsite/js/tree.js' %}" onload="initTreed()" defer></script>
{% include 'treeq-links.html'%}
<br><br>
<div id="tocq_tree" class="hidden">
  <ul>
      {% include 'include-tree-node-qty.html'%}
  </ul>
</div>
<br>
{% include 'treeq-links.html'%}
<script>
function initTreed(){
  $(document).ready(function() {
    $('#tocq_tree').treed({openedClass:'icon-folder-open2', closedClass:'icon-folder2'});
    document.querySelector('#tocq_tree').classList.remove('hidden');
  });
};
</script>
{% endblock %}
