<!-- template:_gulp-calculator-partial -->
{% extends base %}
{% load qfilter %}
{% block cardtitle %}Help - {{ info.title }} ({{ info.name }}){% endblock %}
{% block page_profile %}
{% concat '/calc/help/' info.name '/' as canonical %}
{% add_head info.title info.desc canonical %}
{% endblock %}
<!-- /calc/help/sfunc content is same as /calc/sfunc, so no need for robots to visit -->
{% block _card %}{% endblock %}
{% block content %}
<!--p>{{ info.desc|safe }}</p-->
<p>Click here to open the calculator: {% callink info.name info.title '' 'icon-calculator' 'b' %}</p>
<!--p> help|safe </p-->
{% if help_html %}
{% include help_html %}
{% endif %}
<div class="md-content">
{{dyn_html | safe }}
</div>
<br>
{% if editable %}
<a href="/qedit/{{ help_path }}" target="_blank">Edit</a>
{% endif %}
{% if createable %}
<a href="/doc_create/{{ help_path }}" target="_blank">Create</a>
{% endif %}
{% endblock %}
