<!-- begin:insert-calculator-section-help -->
<button type="button" class="card-collapse collapsed btn btn-info btncmd mb-2" href="#help-space-{{ input.cid }}"
        data-toggle="collapse" aria-label="help">Help&nbsp;</button>
<div class="collapse section-help" id="help-space-{{ input.cid }}">
  <p>{{ input.doc.info.desc | safe }}</p>
  <!--p> input.doc.help | safe </p-->
  {% if input.doc.help == 'y' %}
  <p>Click here to
    <a class="" href="/calc/help/{{ input.doc.name }}/"
       hx-get="/calc/help/{{ input.doc.name }}/?part=1&token={{ request.token}}"
       hx-target="closest .calc" hx-swap="afterend" hx-trigger="click[get_card_once('{{ input.doc.name }}_help__page')]">
    <i class="icon-question4"></i> Learn more about: {{ input.doc.info.title }}</a>
  </p>
  {% else %}
  {% include 'nohelp.html' %}
  {% endif %}
</div>
<!-- end:insert-calculator-section-help -->
