{% load static %}
{% load qfilter %}
<div id="output-part-{{ input.cid }}">
{% load qfilter %}
  {% if 'out_top' in input.doc.info.inserts %}
  <br>
  {{ input.doc.info.inserts.out_top | safe }}
  {% endif %}
  <div class="section-output1">
    {% for field in output.form %}
    {% if field.name in input.doc.info.outcol %}
    {% include 'insert-calculator-section-output.html' %}
    {% endif %}
    {% endfor %}
  </div>
  <br>
  {% include 'insert-calculator-section-outbtns.html' %}
  <div id="status-{{ input.cid }}" class="status"></div>
{% if input.doc.info.outcol|length > 0 %}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="section-output2">
    {% for field in output.form %}
    {% if field.name not in input.doc.info.outcol %}
    {% include 'insert-calculator-section-output.html' %}
    {% endif %}
    {% endfor %}
  </div>
</div>
{% if input.doc.info.outcol|length > 0 %}
</div>{% endif %}
<br>

{% if output.doc.table_out or input.doc.info.table_out %}
<script src="{% static_ver 'calc/js/tabulator-out.js' %}"></script>
{% include 'insert-calculator-init-retry.html' with init_fn='qcalc_InitTabulatorOut' cid=input.cid %}
{% endif %}
</div>
