<!-- template:_gulp-base -->
<!DOCTYPE html>
<html lang="en">
<!-- template:insert-head -->
{% load static %}
{% load qfilter %}
{% lineless %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block page_profile %}{% endblock %}
  {% block extra_header %}{% endblock %}
  <link href="{% static 'vendor/fonts/google/fonts.css' %}" rel="stylesheet" type="text/css">
	<link rel="icon" href="/favicon.ico">
	<link href="{% static 'vendor/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'vendor/bootstrap/4.3.1/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static_ver 'qsite/layout/layout.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static_ver 'qsite/layout/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static_ver 'qsite/css/qmd.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/tabulator/6.1.0/tabulator.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/select2/4.1.0-rc.0/select2.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static_ver_theme request 'qcalc' %}" rel="stylesheet" type="text/css" class="theme-stylesheet">
  <!-- /global stylesheets qcalc.css be the last -->

	<!-- Core JS files (jQuery MIT, Bootstrap MIT) -->
	<script src="{% static 'vendor/jquery/3.3.1/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/4.3.1/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/select2/4.1.0-rc.0/select2.min.js' %}"></script>
  <!-- /core JS files -->

	<!-- qcalc layout MIT -->
	<script src="{% static_ver 'qsite/layout/app.js' %}"></script>
	<!-- /qcalc layout MIT -->

	<!-- htmx JS files -->
  <script src="{% static 'vendor/htmx/1.9.11/htmx.min.js' %}" ></script>
  <script src="{% static 'vendor/htmx/1.9.11/response-targets.js' %}" ></script>
	<!-- /htmx JS files, do not defer, jumpCid won't work @05.11.23 -->

  <!-- tabulator JS files -->
  <script src="{% static 'vendor/tabulator/6.1.0/tabulator.min.js' %}"></script>
	<!-- /tabulator JS files -->

  <!-- qCalc JS files, do not defer -->
  <script src="{% static 'vendor/filesaver/FileSaver.min.js' %}"></script>
  <script src="{% static_ver 'qsite/js/qcalc.js' %}"></script>
  <!-- /qCalc JS files -->
  {% block extra_header_script %}{% endblock %}
</head>
{% endlineless %}

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="sidebar-xs" onclick="bodyFunc()">

<!-- include "include-navbar-main.html" -->
<!-- template:include-navbar-main -->
<!-- Main navbar -->
{% load static %}
{% load qfilter %}
<div class="navbar navbar-expand-md navbar-dark">

  <div class="navbar-brand">
    <a href="/" class="d-inline-block">
      <img src="{% static_ver 'qsite/images/logo-qh-256x64.png' %}" height="32" alt="logo">
    </a>
  </div> <!-- logo -->

  <div class="d-md-none" id="div-mobile">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile"
           aria-expanded="true" aria-label="user" id="btn-user">
				<i class="icon-user"></i>
   </button>
    <button class="navbar-toggler sidebar-mobile-main-toggle" type="button"
            aria-label="mobile_main" id="mob-side-main">
      <i class="icon-paragraph-justify3"></i>
    </button>
    <button class="navbar-toggler sidebar-mobile-secondary-toggle" type="button"
            aria-label="mobile_secondary" id="mob-side-secondary">
      <i class="icon-more"></i>
    </button>
  </div> <!-- nav btn, more btn - mobile -->

  <div class="collapse navbar-collapse" id="div-desktop">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block"
           id="nav-side-main">
          <i class="icon-paragraph-justify3"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="navbar-nav-link sidebar-control sidebar-secondary-toggle d-none d-md-block"
           id="nav-side-secondary">
          <i class="icon-transmission"></i>
        </a>
      </li>
    </ul> <!-- nav btn, netw btn - desktop -->
    <span class="ml-md-auto mr-md-3"></span>
    <ul class="navbar-nav">
      <li class="nav-item" id="nav-collect">
        <a href="/calc/collect/" class="navbar-nav-link"
        hx-get="/calc/add/?fname=collect" hx-target="#card-space" hx-swap="beforebegin">
          <i class="icon-cart"></i>
          <span id="cart-count" class="badge bg-primary badge-pill ml-auto"></span>
        </a>
      </li>
      <li class="nav-item dropdown dropdown-user" id="nav-user">
          <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user mr-2"></i>
            {% if request.user.is_authenticated %}
            <span>{{ request.user.username }}</span>
            {% else %}
            <span>Guest ({{ request.session.hash }})</span>
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
          {% if request.user.is_authenticated %}
            {% concat '/users/' request.user.username '/' as profile_url %}
            {% pagelink profile_url 'My profile' 'dropdown-item' 'icon-user' %}
            <div class="dropdown-divider"></div>
            {% pagelink '/users/~update/' 'Account settings' 'dropdown-item' 'icon-cog5' %}
            {% pagelink '/accounts/password/change/' 'Change Password' 'dropdown-item' 'icon-pencil' %}
            {% pagelink '/accounts/logout/' 'Logout' 'dropdown-item' 'icon-switch2' %}
          {% else %}
            {% pagelink '/accounts/signup/' ' Signup' 'dropdown-item' 'icon-switch2' %}
            {% pagelink '/accounts/login/' ' Login' 'dropdown-item' 'icon-switch2' %}
          {% endif %}
          </div>
			</li> <!-- login user - desktop -->
    </ul> <!-- login user - desktop -->
  </div>

</div>
<!-- /main navbar -->


<!-- Page content -->
<div class="page-content">

  <!-- include "include-sidebar-main.html" -->
  {% load static %}
<!-- template:include-sidebar-main -->
<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md" id="sidebar-main">

  <!-- Sidebar mobile toggler -->
  <div class="sidebar-mobile-toggler text-center">
    <a href="#" class="sidebar-mobile-main-toggle">
      <i class="icon-arrow-left8"></i>
    </a>
    Navigation
    <a href="#" class="sidebar-mobile-expand">
      <i class="icon-screen-full"></i>
      <i class="icon-screen-normal"></i>
    </a>
  </div>
  <!-- /sidebar mobile toggler -->


  <!-- Sidebar content -->
  <div class="sidebar-content">

    <!-- Main navigation -->
    <div class="card card-sidebar-mobile">
      <ul class="nav nav-sidebar" data-nav-type="accordion">

        <!-- Main -->

        <li class="nav-item" id="nav-home">
          <a href="/" hx-get="/?part=1"
             hx-target="#page-holder" hx-swap="innerHTML" class="nav-link">
            <i class="icon-home2"></i>
            <span>Home</span>
          </a>
        </li>

        <li class="nav-item" id="nav-calc-tree">
          <a href="/catalog/calc/" hx-get="/catalog/calc/?part=1"
             hx-target="#page-holder" hx-swap="innerHTML"
             hx-trigger="click[get_card_once('calc_tree__page')]" class="nav-link">
            <i class="icon-tree6"></i>
            <span>Calculator Catalog</span>
          </a>
        </li>

        <li class="nav-item" id="nav-qty-tree">
          <a href="/catalog/qty/" hx-get="/catalog/qty/?part=1"
             hx-target="#page-holder" hx-swap="innerHTML"
             hx-trigger="click[get_card_once('qty_tree__page')]" class="nav-link">
            <i class="icon-tree7"></i>
            <span>Quantity Catalog</span>
          </a>
        </li>

        <li class="nav-item" id="nav-mycal">
          <a href="/calc/mycal/" hx-get="/calc/add/?fname=mycal" {% target_swap_first %}
             class="nav-link">
            <i class="icon-design"></i>
            <span>Create My Calculator</span>
          </a>
        </li>

        <li class="nav-item" id="nav-ucalc-tree">
          <a href="/catalog/user/" hx-get="/catalog/user/?part=1"
             hx-target="#page-holder" hx-swap="innerHTML"
             hx-trigger="click[get_card_once('ucalc_tree__page')]" class="nav-link">
            <i class="icon-tree5"></i>
            <span>Personal Catalog</span>
          </a>
        </li>

        <li class="nav-item" id="nav-pcalc-tree">
          <a href="/catalog/pcalc/" hx-get="/catalog/pcalc/?part=1"
             hx-target="#page-holder" hx-swap="innerHTML"
             hx-trigger="click[get_card_once('pcalc_tree__page')]" class="nav-link">
            <i class="icon-snowflake"></i>
            <span>Public Catalog</span>
          </a>
        </li>

        <li class="nav-item" id="nav-clear">
          <a href="/calc/" class="nav-link">
            <i class="icon-bin"></i>
            <span>Clear Screen</span>
          </a>
        </li>

        <li class="nav-item" id="nav-conv">
          <a href="/calc/conv2/" hx-get="/calc/add/?fname=conv2" {% target_swap_first %} class="nav-link">
            <i class="icon-balance"></i>
            <span>Unit Converter</span>
          </a>
        </li>

        <li class="nav-item" id="nav-cal">
          <a
            href="/page/cal/" hx-get="/page/cal/?part=1" {% target_swap_first %} class="nav-link"
            hx-trigger="click[get_card_once('cal__page')]">
            <i class="icon-calculator2"></i>
            <span>Quick Calculator</span>
          </a>
        </li>

        <li class="nav-item" id="nav-cur">
          <a href="/calc/cur/" hx-get="/calc/add/?fname=cur" {% target_swap_first %} class="nav-link">
            <i class="icon-coin-dollar"></i>
            <span>Currency Converter</span>
          </a>
        </li>

        <li class="nav-item" id="nav-eva">
          <a href="/calc/eva/" hx-get="/calc/add/?fname=eva" {% target_swap_first %} class="nav-link">
            <i class="icon-circle-code"></i>
            <span>Expression Evaluator</span>
          </a>
        </li>

        <li class="nav-item" id="nav-console">
          <a href="/page/console/" hx-get="/page/console/?part=1" {% target_swap_first %}
             hx-trigger="click[get_card_once('console__page')]" class="nav-link">
            <i class="icon-terminal"></i>
            <span>Command Line</span>
          </a>
        </li>

        <li class="nav-item" id="nav-pref">
          <a href="/calc/pref/" hx-get="/calc/add/?fname=pref" {% target_swap_first %} class="nav-link">
            <i class="icon-cog3"></i>
            <span>Settings</span>
          </a>
        </li>

        <li class="nav-item" id="nav-help">
          <a href="/help/" hx-get="/help/?part=1"
            hx-target="#page-holder" hx-swap="innerHTML"
            hx-trigger="click[get_card_once('guide__page')]" class="nav-link">
            <i class="icon-help"></i>
            <span>User Guide</span>
          </a>
        </li>
        <!-- /main -->
      </ul>
    </div>
    <!-- /main navigation -->

  </div>
  <!-- /sidebar content -->

</div>


  <!-- template:include-sidebar-secondary -->
<!-- Secondary sidebar -->
<div class="sidebar sidebar-light sidebar-secondary sidebar-expand-md"  id="sidebar-secondary">

  <!-- Sidebar mobile toggler -->
  <div class="sidebar-mobile-toggler text-center">
    <a href="#" class="sidebar-mobile-secondary-toggle">
      <i class="icon-arrow-left8"></i>
    </a>
    <span class="font-weight-semibold">Secondary sidebar</span>
    <a href="#" class="sidebar-mobile-expand">
      <i class="icon-screen-full"></i>
      <i class="icon-screen-normal"></i>
    </a>
  </div>
  <!-- /sidebar mobile toggler -->


  <!-- Sidebar content -->
  <div class="sidebar-content">

    <!-- Sub navigation -->
    <div class="card mb-2">
      <div class="card-body p-0">
        <ul class="nav nav-sidebar" data-nav-type="accordion">
          <li class="nav-item">
            <form id="open-input-form" hx-post="/calc/open/" hx-encoding="multipart/form-data"
            hx-target="#card-space" hx-swap="beforebegin">
            <div class="nav-link" id="open-io-file">
              <input name="io" type="file" id="open-io" accept=".json,*" class="inputfile"
                     onchange="toggleLoadButton()" hidden>
              <label for="open-io">Saved Input&hellip; : <span style="font-weight: normal">Click to select</span></label>
            </div>
            <div class="nav-link">
              <button type="submit" id="load-io" class="btn" aria-label="load_io" disabled>
                <i class="icon-file-text mr-2"></i>Open</button>
              {% callink 'temp' 'Temp' 'btn' 'icon-footprint' %}
            </div>
            </form>
          </li>
          <li class="nav-item" id="nav-search-unit">
            <div class="nav-link">
              <label>Search Unit:
                <div class="input-group">
                  <input
                    type="text" class="form-control"
                    placeholder="Search Unit"
                    hx-get="/catalog/search_unit/"
                    hx-target="#search-container"
                    name="qu"
                    hx-trigger="keyup delay:500ms"
                  ></div>
              </label>
            </div>
          </li>

          <li class="nav-item">
            <div class="nav-link">
              <p id="search-container" class="border" style="height:200px; width:230px; overflow-y:scroll">
                Search results appear here</p>
            </div>
          </li>

          <li class="nav-item" id="nav-add-calc">
            <div class="nav-link">
          {% block addcal_sidebar %}
              <form method="post" hx-get="/calc/add/" hx-target="#content-holder" hx-swap="afterbegin"
                    hx-vals='js:{dummy: sm2toggle()}'> <!--hx-on::after-request='jumpLast();'-->
                <label>Add Calculator:
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Calculator name" name="fname" id="fname_sb">
                    <div class="input-group-addon">
                      <button type="submit" class="btn" aria-label="add_cal" id="btn_fname_sb"><i class="icon-plus-circle2 text-muted"></i></button>
                    </div>
                  </div>
                </label>
              </form>
          {% endblock %}
            </div>
          </li>

        </ul>
      </div>

    </div>
    <!-- /sub navigation -->

  </div>
  <!-- /sidebar content -->

</div>


  <!-- Main content -->
  <div class="content-wrapper">

    <!-- Page header -->
    <!-- template:insert-page-header -->
{% load qfilter %}
<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb" id="head-home">
        {% pagelink '/' '<span class="notxt">Home</span>' 'btn' 'icon-home2' %}
        {% if request.user.is_authenticated %}
            {% concat '/users/' request.user.username '/' as profile_url %}
            {% pagelink profile_url '<span class="notxt">Profile</span>' 'btn' 'icon-user' %}
        {% endif %}
        <button type="button" class="btn" onclick="jumpBottom();" value="" aria-label="scroll_to_end">
          <i class="icon-circle-down2 text-muted"></i></button>
      </div>
      <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-menu2"></i></a>
    </div>

    <div class="header-elements d-none">
      <div class="breadcrumb justify-content-center">
        <!-- pageheader search -->
        {% include 'include-search-catalog.html' with label='Search Catalog' %}
        <!-- /pageheader search -->
      </div>
    </div>
  </div>
</div>

    <!-- /page header -->

    <!-- Content area -->
    <div class="content" hx-ext="response-targets">
      <div class="container-fluid">
        <div id="page-holder" class="row">
          <!-- template:insert-page -->
{% load qfilter %}
{% block _card %}
{% lineless_ex %}
<div id="card-holder-{{ input.cid }}" class="calc col-sm collapse show">
  <script>setCid('{{ input.cid }}');</script>
  <!-- Basic card -->
  <div class="card">
    <div class="card-header bg-card-header header-elements-inline">
      <h5 class="card-title mr-2">{% block _cardtitle %}Basic card{% endblock %}</h5>
      <div class="header-elements">
        <div class="list-icons">
          {% if '__page' not in input.cid %}
          <a class="card-menu" href="/calc/{{input.doc.name}}/" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="javascript:;"
            onclick="calWithCmd('{{ input.cid }}', '{{ input.doc.name }}', 'save_var');">Save Current Variant</a>
            <a class="dropdown-item" href="javascript:;"
            onclick="calWithCmd('{{ input.cid }}', '{{ input.doc.name }}', 'create_var');">Create New Variant</a>
            {% concat 'func_id/' input.doc.name '/&run' as parameters %}
            {% callink 'code' 'Show Code' 'dropdown-item' '' 'a'  parameters as show_code %}
            {{ show_code }}
            {% endif %}
            <a class="dropdown-item" href="javascript:;"
            onclick="calWithCmd('{{ input.cid }}', '{{ input.doc.name }}', 'save_input');">Check before Saving Input</a>
            <a class="dropdown-item" href="javascript:;"
            onclick="saveInput('{{ input.doc.name }}');">Save Input to File...</a>
          </div>
          {% endif %}
          {% if input.doc.name|hashelp %}
          <a class="card-help" href="/page/help/{{ input.doc.name }}/"
             hx-get="/page/help/{{ input.doc.name }}/?part=1"
             hx-target="closest .calc" hx-swap="afterend"
             hx-trigger="click[get_card_once('page_{{ input.doc.name }}_help__page')]">
          </a>
          {% endif %}
          <a class="card-close"
             href="javascript:;" onclick="closeCard('{{ input.cid }}')">
          </a>
        </div>
      </div>
    </div>
    <div class="card-body" id="card-body-{{ input.cid }}">
      {% block _content %}{% endblock %}
    </div>
  </div>
  <script>
    $(document).ready(function() {
      jumpTo( '{{ input.cid }}' );
      //formReady('{{ input.cid }}');
    });
  </script>
</div>
{% endlineless_ex %}
{% endblock %}

        </div>
        <div id="content-holder" class="row">
          <!-- template:insert-card -->
{% load qfilter %}
{% block card %}
{% lineless_ex %}
<div id="card-holder-{{ input.cid }}" class="calc col-sm collapse show"> <!-- hidden-->
  <script>setCid('{{ input.cid }}');</script>
  <!-- Basic card -->
  <div class="card">
    <div class="card-header bg-card-header header-elements-inline">
      <h5 class="card-title mr-2">{% block cardtitle %}Basic card{% endblock %}</h5>
      <div class="header-elements">
        <div class="list-icons">
          {% if '__page' not in input.cid %}
          <a class="card-menu" href="/calc/{{input.doc.name}}/" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="javascript:;"
            onclick="calWithCmd('{{ input.cid }}', '{{ input.doc.name }}', 'save_var');">Save Current Variant</a>
            <a class="dropdown-item" href="javascript:;"
            onclick="calWithCmd('{{ input.cid }}', '{{ input.doc.name }}', 'create_var');">Create New Variant</a>
            {% concat 'func_id/' input.doc.name '/&run' as parameters %}
            {% callink 'code' 'Show Code' 'dropdown-item' '' 'a'  parameters as show_code %}
            {{ show_code }}
            {% endif %}
            <a class="dropdown-item" href="javascript:;"
            onclick="calWithCmd('{{ input.cid }}', '{{ input.doc.name }}', 'save_input');">Check before Saving Input</a>
            <a class="dropdown-item" href="javascript:;"
            onclick="saveInput('{{ input.cid }}', '{{ input.doc.name }}', 'save_io');">Save Input to File...</a>
          </div>
          <a class="card-help" href="/calc/help/{{ input.doc.name }}/"
             hx-get="/calc/help/{{ input.doc.name }}/?part=1&token={{request.token}}"
             hx-target="closest .calc" hx-swap="afterend"
             hx-trigger="click[get_card_once('{{ input.doc.name }}_help__page')]">
          </a>
          {% endif %}
          <a class="card-close"
             href="javascript:;" onclick="closeCard('{{ input.cid }}')">
          </a>
        </div>
      </div>
    </div>
    <div class="card-body" id="card-body-{{ input.cid }}">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script>
    $(document).ready(function() {
      jumpTo( '{{ input.cid }}' );
      //formReady('{{ input.cid }}');
    });
  </script>
</div>
{% endlineless_ex %}
{% endblock %}

          {% block cardspace %}
<div id="card-space" class="card-space col-sm-12">
  {% block addcal_card %}
  <form method="post" hx-get="/calc/add/" hx-target="#card-space" hx-swap="beforebegin">
      <div class="input-group">
        <input id="fname_cs" type="text" class="form-control" placeholder="Add Calculator" name="fname">
        <div class="input-group-addon">
          <button id="btn_fname_cs" type="submit" class="btn" aria-label="add_cal"><i class="icon-plus-circle2 text-muted"></i></button>
          <button type="submit" class="btn" aria-label="convert_unit" name="fname" value="conv"><i class="icon-balance text-muted"></i></button>
          <a type="button" class="btn" href="/page/cal/" hx-get="/page/cal/?part=1" hx-target="#card-space" hx-swap="beforebegin"
             hx-trigger="click[get_card_once('cal__page')]"><i class="icon-calculator2 text-muted"></i></a>
          <button type="submit" class="btn" aria-label="convert_currency" name="fname" value="cur"><i class="icon-coin-dollar text-muted"></i></button>
          <button type="button" class="btn" aria-label="scroll_to_start" onclick="jumpTop();" value=""><i class="icon-circle-up2 text-muted"></i></button>
        </div>
      </div>
  </form>
  {% endblock %}
</div>
{% endblock %}

        </div>
      </div>
    </div>
    <!-- /content area -->
  </div>
  <!-- /main content -->
</div>
<!-- /page content -->
<input type="file" id="file_input" style="display: none">
<script>
$('#file_input').on('change', function() {
    if (!this.files || this.files.length === 0) {
        //alert('empty');
        return;
    } else {
        var file = this.files[0].name;
        //alert(file);
    }
});
</script>
<!-- include "include-footer.html" -->
<!-- template:include-footer -->
<!-- Footer -->
<div class="navbar navbar-expand-lg navbar-dark">
  <div class="text-center d-lg-none w-100">
    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
            data-target="#navbar-footer" aria-label="footer">
      <i class="icon-unfold mr-2"></i>
      Footer
    </button>
  </div>

  <div class="navbar-collapse collapse" id="navbar-footer">
    <span class="navbar-text"><a href="/">qcalc.org</a> | Measure, Calculate, Improve!</span>

    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item">
        <a href="/page/about/" class="navbar-nav-link"
           hx-get="/page/about/?part=1" hx-target="#page-holder" hx-swap="innerHTML">About</a>
      </li>
      <li class="nav-item">
        <a href="/page/privacy-policy/" class="navbar-nav-link"
        hx-get="/page/privacy-policy/?part=1" hx-target="#page-holder" hx-swap="innerHTML">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a href="/page/terms-conditions/" class="navbar-nav-link"
        hx-get="/page/terms-conditions/?part=1" hx-target="#page-holder" hx-swap="innerHTML">Terms & Conditions</a>
      </li>
      <li class="nav-item">
        <a href="/page/contact/" class="navbar-nav-link"
        hx-get="/page/contact/?part=1" hx-target="#page-holder" hx-swap="innerHTML">Contact</a>
      </li>
    </ul>
  </div>
</div>
<!-- /footer -->

</body>
</html>
