<!-- template:include-footer -->
<!-- Footer -->
<div class="navbar navbar-expand-lg navbar-dark">
  <div class="text-center d-lg-none w-100">
    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
            data-target="#navbar-footer" aria-label="footer">
      <i class="icon-unfold mr-2"></i>
      Footer
    </button>
  </div>

  <div class="navbar-collapse collapse" id="navbar-footer">
    <span class="navbar-text"><a href="/">qcalc.org</a> | Measure, Calculate, Improve!</span>

    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item">
        <a href="/page/about/" class="navbar-nav-link"
           hx-get="/page/about/?part=1" hx-target="#page-holder" hx-swap="innerHTML">About</a>
      </li>
      <li class="nav-item">
        <a href="/page/privacy-policy/" class="navbar-nav-link"
        hx-get="/page/privacy-policy/?part=1" hx-target="#page-holder" hx-swap="innerHTML">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a href="/page/terms-conditions/" class="navbar-nav-link"
        hx-get="/page/terms-conditions/?part=1" hx-target="#page-holder" hx-swap="innerHTML">Terms & Conditions</a>
      </li>
      <li class="nav-item">
        <a href="/page/contact/" class="navbar-nav-link"
        hx-get="/page/contact/?part=1" hx-target="#page-holder" hx-swap="innerHTML">Contact</a>
      </li>
    </ul>
  </div>
</div>
<!-- /footer -->
