<div class="col-sm-12">
  <form method="post" hx-get="/catalog/search/?part=1" hx-vals='{"cid":"{{ input.cid }}"}'
        hx-target="closest .calc" hx-swap="outerHTML">
    <div class="form-group-feedback form-group-feedback-right">
      <input type="search" class="form-control"
             placeholder="{{ label }}"
             name="q">
      <div class="form-control-feedback">
        <button type="submit" class="btn" aria-label="search_onpage"><i class="icon-search4 text-muted"></i></button>
      </div>
    </div>
  </form>
</div>
