<!-- template:insert-head -->
{% load static %}
{% load qfilter %}
{% lineless %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block page_profile %}{% endblock %}
  {% block extra_header %}{% endblock %}
  <link href="{% static 'vendor/fonts/google/fonts.css' %}" rel="stylesheet" type="text/css">
	<link rel="icon" href="/favicon.ico">
	<link href="{% static 'vendor/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'vendor/bootstrap/4.3.1/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static_ver 'qsite/layout/layout.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static_ver 'qsite/layout/components.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/tabulator/6.1.0/tabulator.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/select2/4.1.0-rc.0/select2.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static_ver_theme request 'qcalc' %}" rel="stylesheet" type="text/css" class="theme-stylesheet">
  <!-- /global stylesheets qcalc.css be the last -->

	<!-- Core JS files (jQuery MIT, Bootstrap MIT) -->
	<script src="{% static 'vendor/jquery/3.3.1/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/4.3.1/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/select2/4.1.0-rc.0/select2.min.js' %}"></script>
  <!-- /core JS files -->

	<!-- qcalc layout MIT -->
	<script src="{% static_ver 'qsite/layout/app.js' %}"></script>
	<!-- /qcalc layout MIT -->

	<!-- htmx JS files -->
  <script src="{% static 'vendor/htmx/1.9.11/htmx.min.js' %}" ></script>
  <script src="{% static 'vendor/htmx/1.9.11/response-targets.js' %}" ></script>
	<!-- /htmx JS files, do not defer, jumpCid won't work @05.11.23 -->

  <!-- tabulator JS files -->
  <script src="{% static 'vendor/tabulator/6.1.0/tabulator.min.js' %}"></script>
	<!-- /tabulator JS files -->

  <!-- qCalc JS files, do not defer -->
  <script src="{% static 'vendor/filesaver/FileSaver.min.js' %}"></script>
  <script src="{% static_ver 'qsite/js/qcalc.js' %}"></script>
  <!-- /qCalc JS files -->
</head>
{% endlineless %}
