{% block cardspace %}
<div id="card-space" class="card-space col-sm-12">
  {% block addcal_card %}
  <form method="post" hx-get="/calc/add/" hx-target="#card-space" hx-swap="beforebegin">
      <div class="input-group">
        <input id="fname_cs" type="text" class="form-control" placeholder="Add Calculator" name="fname">
        <div class="input-group-addon">
          <button id="btn_fname_cs" type="submit" class="btn" aria-label="add_cal"><i class="icon-plus-circle2 text-muted"></i></button>
          <button type="submit" class="btn" aria-label="convert_unit" name="fname" value="conv"><i class="icon-balance text-muted"></i></button>
          <a type="button" class="btn" href="/page/cal/" hx-get="/page/cal/?part=1" hx-target="#card-space" hx-swap="beforebegin"
             hx-trigger="click[get_card_once('cal__page')]"><i class="icon-calculator2 text-muted"></i></a>
          <button type="submit" class="btn" aria-label="convert_currency" name="fname" value="cur"><i class="icon-coin-dollar text-muted"></i></button>
          <button type="button" class="btn" aria-label="scroll_to_start" onclick="jumpTop();" value=""><i class="icon-circle-up2 text-muted"></i></button>
        </div>
      </div>
  </form>
  {% endblock %}
</div>
{% endblock %}
