/* qCalc Default Theme */
@import 'variables-common';
/* colors */
$background-fullscreen: white;//
$border-default: #ddd;//
$background-fullscreen-square: transparent;//
$border-fullscreen-square: #eee;//
$border-hover-fullscreen-square: #ddd;//
$border-card-collapse: #17a2b8;
$border-table: rgb(170,170,170);//
$border-table-rows: rgb(221,221,221);//
$icon-checkmark: '✓';
$background-section-input: GhostWhite;//
$background-section-output1: white;//WhiteSmoke
$background-section-output2: white;//WhiteSmoke
$background-button-cmd: LightSteelBlue;//
$background-spinner-border: rgba(255, 255, 255, 0.1);
$border-spinner: #fff;//
$background-card-header: rgb(77, 177, 223);//
$card-title-font-color: #fff;
$border-qhtml: #ccc;//
$background-mark2: papayawhip;//
$color-mark-text: #1b1c1e;//
$link-color: #369; /* rgb(0,53,102) rgb(0,8,54), #1a9f8b; */
$link-color-hover: red;//
